@import "./base.css";

#app {
  max-width: 448px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #60a5fa;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #2563eb;
    color: #fff;
  }
}
